@font-face {
  font-family: "TT Lakes Regular";
  src: 
    url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("ttf"),
    url("./fonts/TTLakes-Regular.eot") format("eot");
}

@font-face {
  font-family: "TT Lakes Medium";
  src: 
    url("./fonts/TTLakes-Medium.woff") format("woff"),
    url("./fonts/TTLakes-Medium.ttf") format("ttf"),
    url("./fonts/TTLakes-Medium.eot") format("eot");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: 
    url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("ttf"),
    url("./fonts/TTLakes-Bold.eot") format("eot");
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
button{
	outline: none;
	cursor: pointer;
}
body{
	font-family: "TT Lakes Regular";
	font-size: 14px;
	color: #1B1C21;
	background-color: rgba(255, 255, 255, 1);
}

.container{
	padding: 16px;
}
.repair__top{
	background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
	margin-bottom: 30px;
}
.repair__title{
	font-family: "TT Lakes Regular";
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -0.2px;
	color: rgba(126, 126, 130, 1);
}
.swiper {
  width: 100%;
  height: 116px;
}
a{
	display: block;
	
}
.swiper-slide{
	width: auto;
}
.swiper-pagination-bullet-active{
	background: rgba(181, 182, 188, 1);
}

.swiper-slide__wrapper{
	position: relative;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	min-height: 72px;
	min-width: 240px;
	border: 1px solid rgba(234, 234, 234, 1)
}

.swiper-pagination{
	display: block;
}
.swiper-pagination-bullet{
	width: 16px;
	height: 16px;
}
.cards,
.cards-open{
	display: none;
}


.swiper-slide__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

@media (min-width: 768px) {
	.container{
		padding: 16px 24px 24px 24px;
	}
	.slider{
		display: none;
	}
	.repair__title{
		margin-bottom: 40px;
	}
	.cards{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
		gap: 16px 24px;
	}
	.cards__wrapper{
		position: relative;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;
		min-height: 72px;
		min-width: 224px;
		max-width: 240px;
		border: 1px solid rgba(234, 234, 234, 1)
	}
	.container__indent{
		margin: 0 0 24px 0;
	}

	.cards-open{
		display: block;
		position: relative;
		padding: 0 0 0 25px;
		background: inherit;
		border: none;
		cursor: pointer;
		font-weight: 400;
		font-size: 16px;
		color: #1B1C21;
	}
	.cards-open::before{
		top: 3px;
		left: 3px;
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background: url('./image/icon.svg') no-repeat;
		transition: 0.4s;
	}
	.clicked.cards-open::before{
		content: '';
		transform: rotate(180deg);
		transition: 0.4s;
	}
	.cards__wrapper_hide-tablet{
		display: none;
	}
	.cards__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
}


@media (min-width: 1120px) {
	.cards{

		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		gap: 16px 32px;
	}
	.container{
		max-width: 1120px;
		margin: 0 auto;
		padding: 15px 32px 32px 32px;
	}
	.cards__wrapper_hide-tablet{
		display: flex;
	}
	.cards__wrapper_hide-desctop{
		display: none;
	}
	.clicked.cards-open::before{
		content: '';
		transform: rotate(180deg);
		transition: 0.4s;
	}
}

